<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wild And Wizard</title>
</head>
<body>
<h1>Wild And Wizard</h1>
<section>
    <h3>Search Wizards:</h3>
    <a href="/wizards">Get all wizards</a>
    <br><br>
    <form action="/wizard" method="get">
        <label>Search by id:</label>
        <input name="id" placeholder="1" type="text" required>
        <input type="submit" value="Send">
    </form>
</section>
<section>
    <h3>Search School:</h3>
    <a href="/schools">Get all schools</a>
    <br><br>
    <form action="/school" method="get">
        <label>Search by id:</label>
        <input name="id" placeholder="1" type="text" required>
        <input type="submit" value="Send">
    </form>
</section>
</body>
</html>